<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd  
						http://www.springframework.org/schema/aop
				        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
                        http://www.springframework.org/schema/mvc 
                        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
                        http://www.springframework.org/schema/tx 
                        http://www.springframework.org/schema/tx/spring-tx.xsd">

	
	<context:component-scan base-package="iunet.controller,iunet.interceptor,iunet.util" />
	
	<!-- 使用spring web mvc注解 -->
	<mvc:annotation-driven />
	
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- 拦截器  -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/user/login.do" /><!-- 登录 -->
			<mvc:exclude-mapping path="/user/logout.do" /><!-- 登出 -->
			<mvc:exclude-mapping path="/user/register.do" /><!-- 注册 -->
			<mvc:exclude-mapping path="/user/activation.do" /><!-- 激活初始化权限 -->
			<mvc:exclude-mapping path="/user/reset.do" /><!-- 重置密码 -->
			<mvc:exclude-mapping path="/user/resetSendEmail.do" /><!-- 重置密码发送验证码至用户邮箱 -->
			<mvc:exclude-mapping path="/common/getVerifyCode.do" /><!-- 获取图形验证码 -->
			
			<bean class="iunet.interceptor.CommonInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- app.properties -->
	<bean id="app"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:app.properties</value>
			</list>
		</property>
	</bean>

	<!-- json格式转换 -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>
	
	<!-- 模板引擎 Thymeleaf-->
	<bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
		<property name="templateResolver" ref="templateResolver" />
	</bean>
	<bean id="templateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
		<property name="prefix" value="/WEB-INF/templates/" />
		<property name="suffix" value=".html" />
		<property name="templateMode" value="HTML5" />
	</bean>

	<!-- jcaptcha验证码 -->
	<bean id="imageCaptchaService"
		class="com.octo.captcha.service.image.DefaultManageableImageCaptchaService">
		<constructor-arg type="com.octo.captcha.service.captchastore.CaptchaStore"
			index="0">
			<ref bean="fastHashMapCaptchaStore" />
		</constructor-arg>
		<constructor-arg type="com.octo.captcha.engine.CaptchaEngine"
			index="1">
			<ref bean="captchaEngineUtil" />
		</constructor-arg>
		<constructor-arg index="2">
			<value>180</value>
		</constructor-arg>
		<constructor-arg index="3">
			<value>100000</value>
		</constructor-arg>
		<constructor-arg index="4">
			<value>75000</value>
		</constructor-arg>
	</bean>
	<bean id="fastHashMapCaptchaStore"
		class="com.octo.captcha.service.captchastore.FastHashMapCaptchaStore" />
	<bean id="captchaEngineUtil" class="iunet.util.CaptchaEngineUtil" />

	<!-- 发送邮件 -->
	<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host">
			<value>${mail.host}</value>
		</property>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.timeout">25000</prop>
			</props>
		</property>
		<property name="username">
			<value>${mail.username}</value>
		</property>
		<property name="password">
			<value>${mail.password}</value>
		</property>
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
	</bean>
	<bean id="simpleMailMessage" class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="${mail.from}" />
		<property name="subject" value="${mail.subject}" />
		<property name="to" value="${mail.to}" />
		<property name="text" value="邮件内容" />
	</bean>

	<!-- 配置multipartResolver -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
		<property name="maxUploadSize">
			<value>10485760</value><!-- 10M -->
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
	</bean>
</beans>