<header id="header" class="clearfix" data-ma-theme="blue">
  <ul class="h-inner">
    <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
      <div class="line-wrap">
        <div class="line top"></div>
        <div class="line center"></div>
        <div class="line bottom"></div>
      </div>
    </li>

    <li class="hi-logo hidden-xs">
      <a href="javascript:window.location.reload()">IuNet Web</a>
    </li>

    <li class="pull-right">
      <ul class="hi-menu">

        <!-- 检索 -->
        <li data-ma-action="search-open">
          <a href=""><i class="him-icon zmdi zmdi-search"></i></a>
        </li>
        <li class="dropdown">
          <a data-toggle="dropdown" href=""><i class="him-icon zmdi zmdi-more-vert"></i></a>
          <ul class="dropdown-menu dm-icon pull-right">
            <li class="skin-switch hidden-xs">
              <span class="ss-skin bgm-lightblue" data-ma-action="change-skin" data-ma-skin="lightblue"></span>
              <span class="ss-skin bgm-bluegray" data-ma-action="change-skin" data-ma-skin="bluegray"></span>
              <span class="ss-skin bgm-cyan" data-ma-action="change-skin" data-ma-skin="cyan"></span>
              <span class="ss-skin bgm-teal" data-ma-action="change-skin" data-ma-skin="teal"></span>
              <span class="ss-skin bgm-orange" data-ma-action="change-skin" data-ma-skin="orange"></span>
              <span class="ss-skin bgm-blue" data-ma-action="change-skin" data-ma-skin="blue"></span>
            </li>
            <li class="divider hidden-xs"></li>
            <li class="hidden-xs">
              <a data-ma-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> 切换全屏 </a>
            </li>
            <li>
              <a data-ma-action="clear-localstorage" href=""><i class="zmdi zmdi-delete"></i> 清除本地存储 </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <!-- 检索框 -->
  <div class="h-search-wrap">
    <div class="hsw-inner">
      <i class="hsw-close zmdi zmdi-time-restore" data-ma-action="search-history" style="left: 15px"></i>
      <i class="hsw-close zmdi zmdi-arrow-right" data-ma-action="search-close"></i>
      <input id="main-search-input" type="text">
    </div>
  </div>
</header>
