<!--[if lt IE 10]>
<style>.ie-warning{position:fixed;top:0;left:0;height:100%;z-index:9999;background:#333;width:100%;text-align:center;color:#fff;font-family:"Courier New",Courier,monospace;padding:50px 0}.ie-warning p{font-size:17px}.ie-warning .iew-container{min-width:1024px;width:100%;height:200px;background:#fff;margin:50px 0}.ie-warning .iew-download{list-style:none;padding:30px 0;margin:0 auto;width:720px}.ie-warning .iew-download>li{float:left;vertical-align:top}.ie-warning .iew-download>li>a{display:block;color:#000;width:140px;font-size:15px;padding:15px 0}.ie-warning .iew-download>li>a>div{margin-top:10px}.ie-warning .iew-download>li>a:hover{background-color:#eee}</style>
<div class="ie-warning"><h1 class="c-white">温馨提示！！</h1><p>您使用的“Internet Explorer”过低，请升级<br/>使用以下任何一款网页浏览器访问本网站。</p><div class="iew-container"><ul class="iew-download"><li><a href="http://www.google.com/chrome/"><img src="../iunet-static/resource/images/browsers/chrome.png" alt=""><div>Chrome</div></a></li><li><a href="https://www.mozilla.org/en-US/firefox/new/"><img src="../iunet-static/resource/images/browsers/firefox.png" alt=""><div>Firefox</div></a></li><li><a href="http://www.opera.com"><img src="../iunet-static/resource/images/browsers/opera.png" alt=""><div>Opera</div></a></li><li><a href="https://www.apple.com/safari/"><img src="../iunet-static/resource/images/browsers/safari.png" alt=""><div>Safari</div></a></li><li><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie"><img src="../iunet-static/resource/images/browsers/ie.png" alt=""><div>IE10+</div></a></li></ul></div><p>不便之处请谅解！</p></div>
<![endif]-->
